/*  RESET */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #fafafa;
}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

/* CABEÇALHO */

.cabecalho{
    width: 100%;
    padding: 3% 4% ;
    text-align: center;
    font-size: 1em;

}
.descricao {
    font-size: 1.2em;
    color: rgba(105,105,105); 
    margin: 0% 2% 0% 0;
}

.nome a {
    font-family:'Pacifico', cursive;
    font-size: 3em;
}

/* FACEBOOK */
.sign button{
    text-align: center;
    width:80%;
    margin: 4% 5% 3% 10%;
    background-color: rgba(65,105,225);
    cursor: pointer;
    padding: 2%;
    border-radius: 5px; 
    color: #fafafa;
    float: left;
    font-size: 1em;

   

}
.sign i {
    padding: 1% 2% ;
    background-color: #fafafa;
    color: rgba(65,105,225);;
    border-radius: 5px ; 
    
}
.sign a {
    padding: 1% 4%;
      
}

/* label e input */

.label label{
    font-size: 1rem;
    position: absolute;
    pointer-events: none;
    color: #999;
    margin: 3%;
    left: 8%;
    bottom: 6%;
    transition: .6s;
    
}

input { 
 width:80%;
 padding: 2% 4% 4% 4%;
 border-radius: 7px;
 margin-top: 8%;
 font-size-adjust: 1em;
 color: #999;
 border-left: 0.9px solid rgb(192, 190, 190);
 border-right: 0.9px solid rgb(192, 190, 190);
 border-top: 0.1rem solid #ffffff;
 border-bottom: 0.1rem solid #ffffff;
 background-color: #ffffff;     
}


.label{
    position: relative;
    
}


 input:focus ~ label, input:valid ~ label{
    margin: 1%; 
    bottom: 3%;
    left:18%;
    font-size: 0.7rem;
    color:#00aced;
   
  
   
}




  
 input:focus,input:valid {
    border-top: 0.1rem solid #00edb2;
    border-bottom:  0.1rem solid #00aced;
    
}

/* Rodapé e botao */
.button {
    width: 75%;
    margin: 9% 5% 3% 8%;
    cursor: pointer;
    border-radius: 7px;
    padding: 1%;
    background-color: #00aced;;
    color: floralwhite;
    font-size: 1.5em;
    text-align: center; 
}
.button:hover {background-color:rgba(0,191,255); }
.copyright {
    margin: 10% 0% 0% 0%;
    color: rgba(128,128,128);
    text-align: center; 
}

.final{
    text-align: center;
    font-size: 1.1em;
    color: rgba(128,128,128); 
    margin: 5% 0% 0% 0%;
     
}
.copyright {
    width: 100%;
    
    float: left;
    padding: 3% 4%;
    text-align: center;
    font-size: 1.2em;
}

/* MOBILE FIRST */
/* SMATPHONES */

@media screen and (min-width: 480px){
    .box{
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 5%;
        background-color: #ffffff;
        border-radius: 20px; 
        height: auto;
        width: auto;
        
    }
    .sign button{
        font-size: 1em;
        width: 90%;

    }
    input{
        font-size: 1.3em;
    }

    input:focus ~ label,input:valid ~ label{
        font-size: 0.9em;
    }
        
    .final{
        margin: 5% 3% 5% 3%;
        padding-bottom: 3%;
        font-size: 15px;
    }
  
    .sign button {
        font-size: 1em;
        width:55%;
        margin-left: 20%;
        margin-right: 20%;
    }
  
    .button{
        width: 55%; 
        margin-left: 20%;
        margin-right: 20%;
    }

    @media screen and (min-width: 960px){
        .box{
            width: 400px;
            height: 490px;
            background-color: #ffffff; 
            top: 30%;
            left: 41%;
            position: absolute;
            transform: translate(-50%,-50%); 
            border-radius: 20px;
            padding: 70px, 70px;
            border: 0.6px solid rgb(192, 190, 190);
        }
        .sign{
            width: 100%;
            font-size:0.9em;
        }
        .sign i{
            padding: 2% 2%  2%  2%;
            font-size:1rem;
        }
        .button{
            font-size:1rem;
            padding-top: 1.5%;
        }
        input{
            padding: 2% 0% 5% 3%;
            font-size:0.8rem;
        }
        
        input:focus ~ label,input:valid ~ label{
            font-size: 0.9em;
            font-weight: bold;
        }

        input{
            font-size: 1rem;
        }









    }
